name: Android CI (unsigned)
on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    paths-ignore:
      - "README.md"
      - "fastlane/**"
      - "asset/**"
      - ".github/**/*.md"
      - ".github/FUNDING.yml"
      - ".github/ISSUE_TEMPLATE/**"
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - "README.md"
      - "fastlane/**"
      - "asset/**"
      - ".github/**/*.md"
      - ".github/FUNDING.yml"
      - ".github/ISSUE_TEMPLATE/**"

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: "temurin"
          cache: "gradle"

      - name: Build app and wear debug APKs
        run: ./gradlew :app:assembleFossDebug :wearApp:assembleDebug

      - name: Run unit tests
        run: ./gradlew :app:testFossDebugUnitTest :wearApp:testDebugUnitTest

      - name: Upload unsigned debug APKs
        uses: actions/upload-artifact@v4
        with:
          name: debug-apks
          path: |
            app/build/outputs/apk/foss/debug/*.apk
            wearApp/build/outputs/apk/debug/*.apk
